@import url(https://fonts.googleapis.com/css?family=Edu+NSW+ACT+Cursive:regular,500,600,700);

@import "tailwindcss";

body {
  @apply m-0;
  background-color: #000;
  color: #fff;
}

.cursive{
  font-family: "Edu NSW ACT Cursive", cursive;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
